@media (max-width: 1475px) {
    .navigation-group img, .logo-image{
        width:70px;
        height:70px;
    }
}

@media (max-width: 1420px) {
    .flex-container-header{
        display:inline;
    }
    .nav-margin{
        margin: 15px 0 0 30px;
    }
    nav{
        width:fit-content;
    }

    .book-button{
        width:250px;
    }


}

@media (max-width: 1200px) {
    .large-container{
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .navigation-padding{
        padding-top:130px;
    }

    .navigation-group img, .logo-image{
        width:50px;
        height:50px;
    }

    .navigation-group + .navigation-group{
        margin-left:20px;
    }
}

@media (max-width: 1075px) {
    .logo-group{
        margin-right:15px;
    }
}

  

@media (max-width: 900px){

    header{
        display:block;
    }
    .medium-container{
        width:100%;
        margin:0 auto;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .menu {
        
        display: none;
        width: 340px;
    }

    .logo-image{
        width:50px;
        height:50px;
    }

    .toggle-button {
        display: block;
    }

    nav{
        margin-left:0;
        margin: 0 auto;
    }



    .navigation-group + .navigation-group{
        margin-left:0px;
    }   

    .navigation-group img{
        width:100px;
        height:100px;
    }

    .navigation-group{
        display:inline-block;
        width:160px;
        margin: 15px 0;
    }

    .flex-container-break-900{
       flex-direction: column;
   
    }

    .pre-wax-do + .pre-wax-do, .pre-wax-avoid + .pre-wax-avoid{
        margin-left:0px;
    }

    .pre-wax-do{
  
        width:80%;
        padding:10px 20px 20px 20px;
        margin-bottom:40px;

    }
    
    .pre-wax-avoid{
        width:80%;
        padding:10px 20px 20px 20px;
        margin-bottom:40px;
     }
    
     .margin-profile-description {
        margin-left: 0px;
      }

}

@media (max-width: 600px){
    .small-container{
        width:100%;
        margin:0 auto;
    }

    .post-wax{
        padding-left:20px;
        padding-right:20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .post-wax-avoid-card{
        width:80%;
    }
}